# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.egg-info/

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Datasets
# ==========================
raw_data/
dataset/
cropped_faces/
extracted_frames/

# ==========================
# Trained Models
# ==========================
models (experiment one)/
*.pth
*.pt

!models (experiment two)/
!models (experiment two)/efficientnet_b0.pth

# ==========================
# Python cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db